.card {
  text-align: left;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 10px;
}

.card-display {
  display: flex;
  flex-direction: column;
}

.column .card .title {
  font-size: 1.2em;
  margin-left: 10px;
}

.modal-edit-card {
  position: relative;
  width: 100%;
  z-index: 9999;
  display: flex;
  flex-direction: column;
}

.modal-outer {
  display: block;
  position: absolute;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.edit-title {
  width: 99%;
  height: 100%;
  border-style: none;
  resize: none;
  font-size: 1.2em;
  font-weight: 500;
  border-radius: 5px;
}

.edit-icon {
  height: 10px;
  align-self: flex-end;
  font-size: 16px;
  padding-right: 5px;
  margin: 2px 2px -10px 5px;
}

.actions {
  display: flex;
  flex-direction: row;
}

.button {
  margin: 10px 10px 10px 0px;
  background-color: green;
  text-align: center;
  vertical-align: middle;
  padding: 5px 15px;
  border-radius: 5px;
  max-width: 100px;
  font-size: 1em;
  font-weight: 400;
  color: white;
}

.cancel {
  background-color: gray;
}

.delete {
  background-color: red;
}