.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: lightslategray;
}

.main .title {
  font-weight: 600;
  font-size: 1.8em;
  margin: 10px;
  color: #fff;
  height: fit-content
}
